header{
    width:1440px;
    height: 188,19px;
    }

header, img {
    position: absolute;
    width: 100px;
    height: 146.37px;
    left: 670px;
    top: 20.91px;
    }
    
h1{
    color: rgba(0, 86, 119, 1);
  }
  